.wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    height: 100%;

    .figure {
        padding-bottom: 56.6%;
        height: 0;
        line-height: 0;
        overflow: hidden;
        border-radius: 6px;
        background-color: var(--loading-bg);

        .img {
            width: 100%;
            height: auto;
            border-radius: 6px;
        }
    }
}
