.wrapper {
    background-color: var(--layout-bg);
    box-shadow: 0 3px 5px var(--sticky-header-box-shadow);

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 240px;
    top: 0;
    right: 0;
    height: 70px;
    padding: 0 var(--padding-section);
    z-index: 99;
    min-width: 660px;
}
.inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left {
        display: flex;
        flex-grow: 1;
        align-items: center;
        margin-right: 10px;
        .button {
            background-color: transparent;
            color: var(--white);
            font-size: 2.4rem;
            margin-right: 10px;
            &:nth-child(2) {
                margin-right: 16px;
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;

        .size {
            font-size: 20px;
        }
    }
}
// Theme
.content-theme {
    width: 70vw;
    max-width: 900px;
    padding-bottom: 20px;
    position: relative;
}

.heading {
    font-size: 24px;
    padding: 20px 30px;
    margin: 0;
}

button.close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
    color: var(--text-primary);

    & > svg {
        font-size: 2.4rem;
    }
}

.modal-body {
    position: relative;
    flex-grow: 1;
    overflow-y: scroll;
    max-height: 50vh;
    min-height: 500px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

//Setting

.setting {
    position: relative;
    margin-right: 10px;

    .icon {
        background-color: var(--alpha-bg);
        color: var(--setting-icon-text);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

        .box-wrap {
            border-style: solid;
            border-color: transparent transparent red transparent;
            border-width: 0 5px 12px 5px;
            height: 0;
            width: 16px;
            box-sizing: content-box;
            position: relative;
            margin-top: -8px;

            &::after {
                content: '';
                position: absolute;
                top: 12px;
                left: -6px;
                width: 0;
                height: 0;
                border-style: solid;
                border-color: red transparent transparent transparent;
                border-width: 10px 14px 0px 14px;
            }

            .text {
                font-size: 0.9rem !important;
                font-weight: 600;
            }
        }
    }
}

.avatar {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        border-radius: 50%;
    }

    &:hover {
        img {
            opacity: 0.85;
        }
    }
}
