.search {
    position: relative;
    width: 100%;
    max-width: 540px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 20px;
    height: 40px;
    background-color: var(--alpha-bg);
    border: 1px solid transparent;

    input {
        position: absolute;
        top: 0;
        left: 38px;
        right: 35px;
        bottom: 0;
        margin: 0;
        display: inline-block;
        font-size: 1.4rem;
        color: var(--search-text);
        background-clip: padding-box;
        border: 0;
        padding: 5px 0;
        line-height: 3.4rem;
        background-color: transparent;
        outline: none;
        border: none;
    }

    &.search-is-collapse {
        border-radius: 20px 20px 0 0;
        box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);
        background-color: var(--primary-bg);
        border: 1px solid transparent;
    }
}

.loading,
.clear {
    position: absolute;
    top: 12px;
    right: 15px;
    display: inline-block;
    color: var(--text-placeholder);
}

.clear {
    cursor: pointer;
}

.loading {
    animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.search-icon {
    position: absolute;
    cursor: pointer;
    font-size: 1.6rem;
    top: 10px;
    left: 10px;
    color: var(--text-placeholder);
}

.search-result {
}

.suggest__list {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: auto;
    min-height: 0;
    background-color: var(--primary-bg);
    z-index: 5;
    display: block;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 6px 0 rgb(32 33 36 / 28%);
    color: var(--text-primary);

    .suggest__list--content {
        overflow-y: scroll;
    }
}

.suggest__list--content {
    max-height: calc(100vh - 164px);

    &::-webkit-scrollbar {
        // display: none;
        width: 4px;
    }

    &::-webkit-scrollbar {
        // display: none;
        position: absolute;
        background-color: transparent;
        width: 4px;
        border-radius: 2px;
    }
}

.suggest-item {
    display: flex;
    align-items: baseline;
    border-radius: 4px;
    padding: 8px 10px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
        background-color: var(--alpha-bg);
    }

    &.song-item {
        margin: 0;
        cursor: default;

        .action-play {
            display: none;
        }

        .title {
            display: flex;
            align-items: center;

            a:hover {
                color: var(--link-text-hover);
            }
        }

        .subtitle {
            margin-top: 3px;
            display: flex;
        }

        &:hover {
            .opacity-bg {
                visibility: visible;
            }
            .action-play {
                display: flex;
            }
        }
    }
}

.media {
    padding: 0;
    flex: 1;
    display: flex;
    align-items: center;
    text-align: left;
    user-select: none;

    .title,
    .subtitle,
    .title a {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        line-height: normal;
    }

    .title,
    .title a {
        display: inline-block;
        font-size: 1.4rem;
        margin: 0;
        font-weight: 500;
    }

    .title a {
        max-width: 90%;
        color: inherit;
    }

    .subtitle {
        display: block;
        margin: 0;
        font-size: 1.2rem;
        font-weight: 400;
        color: var(--text-secondary);
    }
}

.media-left {
    position: relative;
    margin-right: 10px;

    figure {
        width: 52px;
        height: 52px;
        overflow: hidden;
    }
}

.action-play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.icon {
    color: var(--white);
    margin: 0;
    top: 0;
    font-size: 1.6rem;
}

.media-content {
    flex: 1;
    text-align: left;
}

.icon-suggest-search {
    color: var(--text-secondary);
    margin-right: 10px;
    font-size: 1.4rem;
}

.is-oneline {
    font-size: 1.4rem;
    font-weight: 500;
}

.keywork--highlight {
    color: var(--text-item-hover);
    font-weight: 700;
}

.suggestion {
    border-top: 1px solid var(--border-primary);
    margin-top: 10px;
    padding-top: 10px;
}

.search-title {
    font-size: 1.4rem;
    padding: 0 10px 8px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.btn-remove {
    display: flex;
    align-items: center;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--link-text-hover);
}

.popper-search {
    padding: 13px 10px;
}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .search {
        width: 100%;
    }
}

@media (max-width: 46.25em) {
    .search {
        height: 36px;
        margin-left: 12px;

        input {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 33.125em) {
    .search {
        margin-left: 0;
    }
    .search {
        width: 75vw;
    }
}
