.wrapper {
    height: calc(22vw - 80px);
    border-radius: 6px;
}

@media screen and (max-width: 63.9375em) {
    .wrapper {
        height: calc(30vw - 99px);
        min-height: 180px;
    }
}

@media screen and (max-width: 46.275em) {
    .wrapper {
        height: auto;
        min-height: auto;
    }
}
