.wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 13;
    background-color: var(--layout-bg);
}
.inner {
    display: flex;
    height: 90px;
    width: 100%;
    padding: 0 20px;
    background-color: var(--player-bg);
    border-top: 1px solid var(--border-player);
    background-image: var(--miniplayer-bg-img);

    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.player-controls {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-controls__left {
    display: flex;
    width: 30%;
}

.song-detail {
    padding: 0;
    transition: transform 0.5s;
    cursor: inherit;
    width: 100%;

    display: flex;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.song-thumb {
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.thumb {
    position: relative;
    overflow: hidden;

    figure {
        width: 64px;
        height: 64px;
        border-radius: 4px;
        overflow: hidden;
    }
}

.song-info {
    max-width: 160px;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.name-wrapper {
    display: flex;
    align-items: center;
    white-space: nowrap;
    -webkit-mask-image: linear-gradient(270deg, transparent 0.5%, #000 10%);
    .name {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.36;
        text-overflow: clip;
        overflow: visible;
        color: var(--player-text);
    }
}

.artist {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    line-height: normal;
    margin: 2px 0 0;
    font-size: 1.2rem;
    display: block;
    color: var(--text-secondary);
}

.is-ghost {
    font-weight: 400;
    display: inline-block;
    color: var(--text-secondary);

    &:hover {
        text-decoration: underline;
    }
}

.actions-song-left {
    margin-left: 10px;
}

.level-left {
    width: 100%;

    .level-item {
        margin: 0;
    }
}

.level-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
}

.icon-width {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.icon-hover {
    font-size: 16px;
    padding: 5px;
    color: currentColor;
}

.more {
    color: var(--text-primary);
}

.animation-like {
    .is-like {
        color: var(--text-primary);
    }
    .is-like-full {
        color: var(--purple-primary) !important;
    }

    .icon:last-child {
        display: none;
    }
}

// Player bar
.player-controls__player-bar {
    flex-grow: 1;
    width: 40vw;
}

.controls {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .icon-hover {
        font-size: 2.1rem;
    }
}

.tooltip-btn {
    color: var(--player-text);

    .btn-play {
        .icon-play {
            font-size: 1.6rem;
        }
    }
}

.btn-play {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    border: 1px solid var(--player-text);

    &:hover {
        color: var(--purple-primary);
        border-color: var(--purple-primary);
    }
}

.icon-play {
    margin-left: 4px;
}

.time-left,
.time-right {
    min-width: 45px;
    font-size: 12px;
    color: var(--player-text);
    font-weight: 500;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.time-left {
    text-align: right;
    margin-right: 10px;
    opacity: 0.5;
}

.time-right {
    margin-left: 10px;
}

.duration-bar {
    display: flex;
    align-items: center;
    height: 15px;
    width: 100%;
    cursor: pointer;

    &:hover {
        .slider-bar {
            height: 5px;
        }
    }
}

.slider-bar {
    height: 3px;
    width: 100%;
    border-radius: 4px;
    background: linear-gradient(
        to right,
        var(--progressbar-active-bg) 0%,
        var(--progressbar-active-bg) 39.9448%,
        var(--progressbar-player-bg) 39.9448%,
        var(--progressbar-player-bg) 100%
    );
    align-self: center;
}

// Player right
.player-controls__right {
    flex-grow: 1;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    .level-item {
        flex: 0;
    }
}

.group-volumn {
    display: flex;
    align-items: center;

    .volumn-input,
    .duration-bar {
        width: 70px;
        height: 3px;
        cursor: pointer;
    }
}

.volumn-input {
    // -webkit-appearance: none;
    background: var(--progressbar-player-bg);
    outline: none;
    border-radius: 50%;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;

    &:hover {
        height: 5px;

        &::-webkit-slider-thumb {
            visibility: visible;
        }
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        height: 12px;
        background: #fff;
        cursor: pointer;
        border-radius: 50%;
        visibility: hidden;
    }
}

///
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .song-info {
        max-width: 155px;
    }

    .more {
        display: none;
    }
}

@media (max-width: 46.1875em) {
    .wrapper {
        bottom: 45px;
    }

    .inner {
        height: 45px;
        border-bottom: 1px solid var(--border-primary);
    }
}
