.wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.nowplaying-full {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 1;
}
//player queue

.player-queue {
    position: absolute;
    right: 0;
    bottom: 90px;
    width: 330px;
    z-index: 2;
    border: none;
}

.player-queue-animation-enter {
    transform: translateX(100%);
}

.player-queue-animation-enter-active {
    transform: translateY(0);
    transition: transform 0.6s ease-out;
}

.player-queue-animation-exit {
    transform: translateY(0);
}

.player-queue-animation-exit-active {
    transform: translateX(100%);
    transition: transform 0.6s ease-out;
}

//

.player-animation-exit {
    transform: translateX(100%);
}

.video-animation-enter {
    transform: translateY(100%);
    animation: sideIn 0.6s ease-out;
}

.video-animation-exit {
    transform: translateY(0);
    animation: sideOut 0.6s ease-out;
}

@keyframes sideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

@keyframes sideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.inner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: var(--layout-bg);

    &.clickable {
        cursor: pointer;
    }

    &.opac {
        --player-text: #fff;
        background-color: transparent;
        background-image: none;
        cursor: default;

        .player-controls {
            background-color: transparent;
            border-color: transparent;
            background: none;
            display: flex;
            justify-content: center;

            .player-controls__left,
            .player-controls__right {
                display: none;
            }

            .player-controls__player-bar {
                display: flex;
                flex-direction: column-reverse;
                max-width: unset;
            }

            .wrapper-time-song {
                justify-content: center;
            }

            .progress-time-input {
                max-width: 400px;
            }

            .duration-bar {
                max-width: 400px;
            }
        }
    }
}

.player-controls {
    height: 90px;
    width: 100%;
    padding: 0 20px;
    background-color: var(--player-bg);
    border-top: 1px solid var(--border-player);
    background-image: var(--miniplayer-bg-img);

    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-controls__left {
    display: flex;
    width: 30%;
}

.song-detail {
    padding: 0;
    transition: transform 0.5s;
    cursor: inherit;
    width: 100%;

    display: flex;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.song-thumb {
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.thumb {
    position: relative;
    overflow: hidden;

    figure {
        width: 64px;
        height: 64px;
        border-radius: 4px;
        overflow: hidden;
    }
}

.song-info {
    max-width: 160px;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.name-wrapper {
    display: flex;
    align-items: center;
    white-space: nowrap;
    -webkit-mask-image: linear-gradient(270deg, transparent 0.5%, #000 10%);
    .name {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.36;
        text-overflow: clip;
        overflow: visible;
        color: var(--player-text);
    }
}

.artist {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    line-height: normal;
    margin: 2px 0 0;
    font-size: 1.2rem;
    display: block;
    color: var(--text-secondary);
}

.is-ghost {
    font-weight: 400;
    display: inline-block;
    color: var(--text-secondary);

    &:hover {
        text-decoration: underline;
    }
}

.actions-song-left {
    margin-left: 10px;
}

.level-left {
    width: 100%;

    .level-item {
        margin: 0;
    }
}

.level-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;

    &.wrapper-time-song {
        position: relative;
        justify-content: space-between;
    }
}

.icon-width {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.icon-hover {
    position: relative;
    font-size: 1.6rem;
}

.more {
    color: var(--text-primary);
}

.animation-like {
    .is-like {
        color: var(--text-primary);
    }
    .is-like-full {
        color: var(--purple-primary) !important;
    }

    .icon:last-child {
        display: none;
    }
}

// Player bar
.player-controls__player-bar {
    flex-grow: 1;
    max-width: 40vw;
}

.controls {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .icon-hover {
        font-size: 2.1rem;
    }

    .btn-play {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        width: 40px;
        height: 40px;
        border: 1px solid var(--player-text);

        &:hover {
            color: var(--purple-primary);
            border-color: var(--purple-primary);
        }
    }
}

.tooltip-btn {
    color: var(--player-text);
    position: relative;

    .btn-play {
        .icon-toggle-play {
            font-size: 1.6rem;
        }
    }

    &.queue-expand-btn {
        position: relative;
        background-color: hsla(0, 0%, 100%, 0.1);
        border-radius: 4px;
        height: 30px;
        line-height: 30px;
        padding: 0 5px;
        border: 1px solid transparent;
        font-weight: 500;
        color: var(--player-text);
        font-size: 12px;

        .icon-hover {
            padding: 0;
        }

        &.active {
            background-color: var(--purple-primary);
            color: #fff;
        }
    }

    &.isActiveLoop,
    &.isActiveRandom {
        color: var(--purple-primary);
    }

    .icon-no-pd {
        padding: 0;
    }
}

.icon-play {
    margin-left: 4px;
}

.time-left,
.time-right {
    min-width: 45px;
    font-size: 12px;
    color: var(--player-text);
    font-weight: 500;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.time-left {
    text-align: right;
    margin-right: 10px;
    opacity: 0.5;
}

.time-right {
    margin-left: 10px;
}

.progress-time-input {
    flex: 1;
    opacity: 1;
    z-index: 5;
    height: 18px;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    will-change: opacity;
    -webkit-appearance: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    background-color: transparent;

    &::-webkit-slider-thumb {
        appearance: none;
        width: 1px;
        height: 18px;
        cursor: pointer;
        border-radius: 999px;
        -webkit-appearance: none;
        background-color: transparent;
    }

    &:hover ~ .duration-bar {
        .slider-bar {
            height: 5px;
        }

        .slider-handle {
            visibility: visible;
        }
    }
}

.progress__track {
    display: flex;
    justify-content: center;
    left: 50%;
    height: 15px;
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%, 0);
    cursor: pointer;

    &.duration-bar {
        width: calc(100% - 110px);
    }

    &.voumn-track {
        width: 100%;
    }
}

//volumn progress
.volumn-input {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    outline: none;
    cursor: pointer;

    &:hover {
        height: 5px;
    }
}
//

.slider-bar {
    width: 100%;
    height: 3px;
    align-self: center;
}

.slider-handle {
    width: 12px;
    height: 12px;
    visibility: hidden;
    border-radius: 50%;
    background-color: var(--progressbar-active-bg);
    transform: translate(0px, -3.5px);
}

// Player right
.player-controls__right {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    .level-item {
        flex: 0;
    }
}

.group-volumn {
    display: flex;
    align-items: center;
    position: relative;

    .duration-bar {
        width: 70px;
        height: 3px;
        cursor: pointer;
    }
}

.volumn-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3px;
    width: 70px;
}

.separate {
    height: 33px;
    width: 1px;
    background-color: var(--border-player);
    margin: 0 20px;
}

@media screen and (min-width: 56.9375em) and (max-width: 73.4375em) {
    .volumn-wrap {
        position: absolute;
        top: -122%;
        left: 50%;
        transform: translateX(-50%);
        width: 150px !important;
        background-color: #353535;
        padding: 14px;
        border-radius: 4px;
        display: none;

        &::after {
            content: '';
            position: absolute;
            bottom: -13px;
            height: 13px;
            // background-color: red;
            width: 30px;
            left: 50%;
            transform: translateX(-50%);
        }
        .volumn-input {
            height: 5px;
            flex: 1;
        }
    }

    .group-volumn:hover {
        .volumn-wrap {
            display: flex;
        }
    }
}

///
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .song-info {
        max-width: 155px;
    }

    .level-item {
        .more {
            display: none;
        }
    }
}

@media (max-width: 56.875em) {
    .actions-song-left {
        display: none;
    }

    .player-controls__right {
        .level-item {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                display: none;
            }
        }
    }

    .separate {
        margin: 8px;
    }
}

@media (max-width: 46.1875em) {
    .wrapper {
        bottom: 45px;
    }

    .inner {
        bottom: 45px;
    }

    .player-controls {
        height: 45px;
        border-bottom: 1px solid var(--border-primary);
        padding: 0 10px;
    }

    .thumb {
        figure {
            width: 36px;
            height: 36px;
            border-radius: 50%;
        }
    }

    .name-wrapper .name {
        font-size: 1.3rem;
        font-weight: 400;
    }

    .artist {
        margin: 0;

        .is-ghost {
            font-size: 1.1rem;
        }
    }

    .actions-song-left {
        display: flex;
        .more {
            display: none;
        }
    }

    .player-controls {
        .level-item {
            justify-content: flex-end;
        }

        .btn-play {
            border: navajowhite;
            margin: 0;
            &:hover {
                color: unset;
                background-color: var(--alpha-bg);
            }
        }

        .icon-width {
            width: 40px;
            height: 40px;
        }
    }

    .player-controls__left {
        flex: 1;
        width: unset;
    }

    .song-info {
        max-width: unset;
    }

    .player-controls__player-bar {
        max-width: 80px;
    }
}
